body { 
    font-family: sans-serif;
    background-color: #212121;
    color: white;
    margin: 0;
    padding: 0;
}
#main-container {
    max-width: 80em;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.main-navigator {
    flex:1 10%;
    padding: 0;
    margin: 0;
}
.main-navigator ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    padding-top: 0.67em;
}
.main-navigator a {
    color: white;
    text-decoration: none;
}
.main-navigator a:hover {
    color: #FFBD00;

}
.main-content {
    flex:8 90%;
}